<!-- <p-card title="Schedule">
        <p-table [value]="schedule.schedules">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let col of cols">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                  <tr>
                    <td *ngFor="let col of cols">
                      {{customer[col.field]}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <button pButton type="button" label="Add priem" style="margin-top: 15px" ></button>
</p-card> -->
<p>schedule</p>