<form>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step>

      <ng-template matStepLabel>ПІБ власника тварини</ng-template>
      <mat-form-field>
        <input matInput placeholder="ФІО" [(ngModel)]="enroll.customer" name="customerName" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button" mat-raised-button color="primary">Далі</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Оберіть лікаря:</ng-template>
      <mat-form-field>
        <mat-select placeholder="Лікар" [(value)]="enroll.employee" width="500px">
          <mat-option *ngFor="let doctor of doctorsList" [value]="doctor.name">
            {{ doctor.name }}
            <span>(</span>
            {{doctor.position}}
            <span>)</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button" mat-raised-button color="primary">Назад</button>
        <button mat-button matStepperNext type="button" mat-raised-button color="primary">Далі</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Причина звернення:</ng-template>
      <mat-form-field>
        <textarea matInput placeholder="Причина звернення" name="comment" [(ngModel)]="enroll.comment" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button" mat-raised-button color="primary">Назад</button>
        <button mat-button matStepperNext type="button" mat-raised-button color="primary">Далі</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Дата запису:</ng-template>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Оберіть дату" [(ngModel)]="enroll.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="time" [(ngModel)]="timeString" name="time">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button" mat-raised-button color="primary">Назад</button>
        <button mat-button matStepperNext type="button" mat-raised-button color="primary">Далі</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Готово</ng-template>
      Готово.
      <div>
        <button mat-button (click)="submit()" type="button" mat-raised-button color="primary">Ок</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
