<div>
  <div class="form-input">
      <img [src]="stockItem.image" alt="" width="50px">
  </div>
  <div class="form-input">
      <mat-form-field>
          <input matInput placeholder="Ім'я" [(ngModel)]="stockItem.name">
      </mat-form-field>
  </div>
  <div class="form-input">
      <mat-form-field>
          <input matInput placeholder="Опис" [(ngModel)]="stockItem.description">
      </mat-form-field>
  </div>
  <div class="form-input">
      <mat-form-field>
          <input matInput placeholder="Ціна" [(ngModel)]="stockItem.price">
      </mat-form-field>
  </div>
  <div class="form-input">
      <mat-form-field>
          <input matInput placeholder="Кількість" type="number" [(ngModel)]="stockItem.count">
      </mat-form-field>
  </div>
 
  <div class="form-input">
      <button mat-raised-button color="primary" (click)="save()">Зберегти</button>
  </div>
  <div class="form-input">
      <button mat-raised-button color="primary" (click)="cancel()">Відмінити</button>
  </div>

</div>